.tab {
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    background-color: #fff;
    /*cursor: move;*/
}

.tab.hover {
    background-color: #f0f0f0;
}
.pinned {
    background-color: yellow;
    border: 2px solid orange;
}